
html, body { font-family: Arial; font-size: 14px;}

ul .active { font-weight: bold; font-size: 18px; }
ul li a { text-decoration: none; color: black; }
ul li a:hover { text-decoration: underline; }

table, table td { border: 1px solid; }
table td { padding: 5px; }

.form-group { width: 300px; margin: 15px; }
.form-group label { width: 100px; float: left; }
.form-group select, .form-group input { width: 150px; padding: 5px; }

.container { border: 1px solid; padding: 15px; margin: 10px; }
